@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* #00abf0 */

 *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #081b29;
 }

/* header section */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    /* background-color: transparent; */
    width: 100vw;
    height: 70px;
    position: fixed;
    background-color: #081b29;
    opacity: .7;
    z-index: 1;
}

.logo{
    text-decoration: none;
    font-weight: 600;
    font-size: 2.5rem;
    color: #ededed;
}

.navbar a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
    padding-top: 8px;
    padding-right: 15px;
    color: #ededed;
    
    
}

.navbar a:hover{
    background-color: #00abf0;
    color: #081b29;
    text-align: center;
    padding-left: 13px;
    border-radius: 2px;
    cursor: pointer;
}
.navbar a.active:hover{
    background-color: #00abf0;
    color: #081b29;
    text-align: center;
    padding-left: 13px;
}
.navbar a.active{
 color: #00abf0;
 margin-left: 20px;
}
.navbar a.{
    color: #00abf0;
    
   }

/* Home section */
.home{
 /* background: url(../assets/images/profile\ pic\ croped.png), no-repeat; 
 */
 height: 100vh;
 width: 100vw;
 display: flex; 
}
.homeContent{
   position: relative;
   left: 60px;
   top: 200px;
}

.profilepic img {
width: 40vw;
height: 80vh;
padding: 30px 50px ;
padding-right: 50px;
margin:30px 50px;


}

.homeContent h1{
color: #ededed;
font-size: 2rem;
font-weight: 600;
font-style: bold;
}

.homeContent h3{
    color: #00abf0;
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.homeContent{
    color: #ededed;
    list-style: 5px;
    display: inline-block;
    height: 300px;
    
}
hr{
    border: 2px solid  #ededed;
    opacity: .7;
}
/* about me section  */

.about{
   text-align: center;
   padding: 20px 40px;
   margin-bottom: 100px;
}
.about h1{
color: #ededed;
font-size: 2.3rem;
font-weight: bolder;
margin-top: 50px;
}
.about h1 span{
    color: #00abf0;

}
.about img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 4px solid #00abf0;
    box-shadow: 0px 0px 5px #00abf0;
   margin-bottom: 20px;
   margin-left: 50px ;
   margin-right: 50px;
   margin-top: 50px;
}

.about h2{
    color: #00abf0;
    font-weight: 600;
    margin-bottom: 10px;
}

.about p{
color: #ededed;

}
.about p span{
    color: #00abf0;
    font-size: 2rem;    
    }

/* skill section */

.skills{
    text-align: center;
   
    
}
.skills h1{
    color: #ededed;
    font-size: 2.3rem;
    font-weight: bolder;
    margin-top: 50px;
    }
    .skills h1 span{
        color: #00abf0;
    
    }
.skills .images {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   margin-bottom: 80px;
}
.skills .images img{
 height: 100px;
 margin-top: 20px;
 margin-left: 20px;
 margin-right: 20px;
 margin-bottom: 20px;
}

/* project section  */
.projectSec{
   
}

.projectTitle h1{
    text-align: center;
    color: #ededed;
    font-size: 2.3rem;
    font-weight: bolder;
    margin-top: 50px;
    }
.projectTitle h1 span{
        color: #00abf0;
    
    }

#project1 {
   display: flex;
   justify-content: center;
   justify-content: space-around;
   margin-top: 50px;
  text-align: center;
    margin-bottom: 100px;
}
#project1 Img{
padding-right: 100px;
}
#project1 img{
    width: 500px;
    
}

.projectContent{
  
  padding-left: 150px;
  padding-right: 50px;
  text-align: center;
}

#project2 {
    display: flex;
    
    justify-content: center;
    justify-content: space-around;
    margin-top: 50px;
   text-align: center;
     margin-bottom: 100px;
 }
 .projectImg2{
 padding-left: 100px;
 }
 #project2 img{
     width: 500px;
     
 }
 
 .projectContent2{
   
   padding-right: 150px;
   padding-left: 50px;
   text-align: center;
 }
 

 #project3 {
    display: flex;
  
    justify-content: center;
    justify-content: space-around;
    margin-top: 50px;
   text-align: center;
     margin-bottom: 100px;
 }
 .projectImg3{
 padding-right: 100px;
 }
 #project3 img{
     width: 500px;
     
 }
 
 .projectContent3{
   
   padding-left: 150px;
   padding-right: 50px;
   text-align: center;
 }
 
 .project h3{
    color: #00abf0;
    padding-top: 10px ;
    padding-bottom: 10px;
    font-size: 1.5rem;
   font-weight: 500;
 }
 .project p{
    color: #ededed;
    font-weight: 500;
 }

 /* contact section  */
 .contact{
    text-align: center;
 }

 .contact h1{
    color: #ededed;
    font-size: 2.3rem;
    font-weight: bolder;
    margin-top: 50px;
    }
    .contact h1 span{
        color: #00abf0;
    
    }

 label{
    display: block;
    margin-top: 10px;
    font-weight: 700;
}

.form-container{
    /* background-color: rgb(242, 242,242); */
    margin-top: 50px ;
    color: #ededed;
    padding: 20px;
}

input , select{
    width: 300px;
    padding: 12px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-sizing:border-box;
    color: #ededed;
    margin-bottom: 10px;
}
select{
    margin-top: 5px;
}

input[type="submit"]{
    background-color: #00abf0;
    color: rgb(255,255, 255);
    padding: 12px 20px;
    border: 5px none rgb(255,255, 255);
    display: block;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 100px;
}
/* footer section  */
footer {
    text-align: center;
  
}

footer div p{
    background-color: #304146;
color: #ededed;
   padding-bottom: 20px;
   padding-top: 20px;
 
       

}
.c img {
    height: 10%;
    width: 10%;
    margin-top: 6vh;
    border-radius: 10%;
  }